<div ng-controller="MainCtrl" ng-cloak >
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">puppylove!</span>
            <span class="md-subhead">Who are We?</span>
            We are a group of dog lovers who want to give you and your furry best friend the opportunity to meet others you might get along with!
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Contact Us!</md-button>
          <md-button>Work With Us!</md-button>
        </md-card-actions>
      </md-card>
      <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Charlie</span>
            <span class="md-subhead">Our Cute Mascot!</span>
            <img src="../assets/Charlie3.jpg">
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="space-between">
          <div class="md-media-xl card-media"></div>
          <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-font-icon="img/icons/favorite.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon md-font-icon="img/icons/menu.svg"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-font-icon="img/icons/share-arrow.svg"></md-icon>
            </md-button>
          </md-card-actions>
        </md-card-content>
      </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline"> Eyasu Felleke</span>
            <span class="md-subhead">Co-Founder </span>
     
            <br>
            Favorite Quote:
              "Get busy livin' or get busy dyin'...that's my motto "
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href = "https://www.linkedin.com/in/eyasu-felleke-99b23222?trk=nav_responsive_tab_profile_pic">LinkedIn</md-button>
          <md-button href = "https://twitter.com/efelleke">Twitter</md-button>
        </md-card-actions>
      </md-card>
      <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Atlante Avila</span>
            <span class="md-subhead">Co-Founder</span>
              Atlante enjoys long walks on the beach and taking his puppy robocop with him!
            <br>
            Favorite Quote:
            "When you lose don't lose the lesson "
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
  <!--          <md-button href = "https://www.linkedin.com/in/atlante-avila-6164a8ab">LinkedIn</md-button>
          <md-button href = "https://github.com/atlanteavila">Github</md-button>
 -->        </md-card-actions>
      </md-card>
      <div layout layout-padding layout-align="center end" style="height:200px">
      </div>
    </div>
  </md-content>
</div>