<form ng-submit="submitOwner()" class="form">
  <ul>
    <li> <label>First Name</label><br>
    <input type="text" name="firstName" ng-model="owner.firstName"> </li>
    <li><label>Last Name</label><br>
    <input type="text" name="lastName" ng-model="owner.lastName"> </li>
    <li><label>Age</label><br>
    <input type="text" name="age" ng-model="owner.age"> </li>
    <li> <label>Location</label><br>
    <input type="text" name="location" ng-model="owner.location"> </li>
    <li> <label>Favorite Breed</label><br>
    <input type="text" name="favorite" ng-model="owner.favorite"> </li>
    <li> <label>Number of Breeds Owned</label><br>
    <input type="text" name="numberOfBreeds" ng-model="owner.numberOfBreeds"> </li>
    <li> <label>Number of Dogs Owned</label><br>
    <input type="text" name="numberOfDogs" ng-model="owner.numberOfDogs"> </li>
    <li> <input type="submit">
  </ul>
<div>{{message}}</div>
</form>