<div>
  <h1>Welcome to PuppyLove!</h1>
  <p>{{ tagline }}</p>
   <md-input-container flex="40" md-no-float>
  <input type="text" placeholder="Search for an owner" name="puppy" ng-model = "banana">
   </md-input-container>
  <div class="owners" ng-repeat="owner in owners | filter:banana">
   <span class="name-query-results" layout-padding>
    <h2>{{owner.firstName}} 
     {{owner.lastName}}</h2>
    <p>Location: {{owner.location}}</p>
     <p>Favorite Breed: {{owner.favorite}}</p>
     <md-button ng-click="delete()">Delete</md-button>
  </span>
    {{dog}}
  </div>
</div>